<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display All Contact Links</title>
</head>
<body>
    <h1>All Contacts in data Folder</h1>
    
    <!-- for each loop (add data-th-object)-->
    <ul data-th-each="file : ${listOfFiles}">
        <a data-th-href="@{/contact/{id}(id=${file})}" data-th-text="${file}"></a>
    </ul>
    <!-- anchor tags (Add data-th-each loop) -->

    <div></div>
</body>
</html>